.App {
  text-align: center;
}


.App-header {
  background-color: #020713;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.cardSection {
  background-color: #020713;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.card {
  width: flex;
  height: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
   
}

.button {
  width: 50%;
  
}
.textBox{
  left: 18%;
}
